<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/dashboard.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>GDSC CCU</title>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-database.js"></script>
    <script src="/js/report-management.js"></script>  
  </head>
  <body>
    <!--導覽列-->
    <!--插入header-->
    <%- include('management_header') %>

    <div id="report-items">
      <% for(var i = 0; i < rows.length; i++){ %>
        <% if(rows[i].status == 'unread') { %> 
          <ul class="nodot" data-id="<%= rows[i].id %>" data-pack=<% JSON.stringify(rows[i]) %> >
            <li class="type-slider type-slider-unread">未讀</li> 
            <li class="time"> <%= rows[i].date %> </li>
            <li class="user-email"> <%= rows[i].email %> </li>
            <a href="" class="no-color-line title-url">
              <li class="title"> <%= rows[i].content %> </li>
            </a>
          </ul>
        <% }else if(rows[i].status == 'untreated') { %> 
          <ul class="nodot" data-id="<%= rows[i].id %>" data-pack=<% JSON.stringify(rows[i]) %>>
            <li class="type-slider type-slider-untreated">未處理</li> 
            <li class="time"> <%= rows[i].date %> </li>
            <li class="user-email"> <%= rows[i].email %> </li>
            <a href="" class="no-color-line title-url">
              <li class="title"> <%= rows[i].content %> </li>
            </a>
          </ul>
        <% }else if(rows[i].status == 'finish') { %> 
          <ul class="nodot" data-id="<%= rows[i].id %>" data-pack=<% JSON.stringify(rows[i]) %>>
            <li class="type-slider type-slider-finish">完成</li> 
            <li class="time"> <%= rows[i].date %> </li>
            <li class="user-email"> <%= rows[i].email %> </li>
            <a href="" class="no-color-line title-url">
              <li class="title"> <%= rows[i].content %> </li>
            </a>
          </ul>
        <% } %> 
      <% } %> 
    </div>

    <!-- 處理回報視窗 -->
    <div id="report-window" class="model show">
      <!-- 視窗內容 -->
      <div class="report-window-content">
        <h2>回報</h2>
        <p>user1@gmail.com</p>
        <p>暱稱</p>
        <p>內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容</p>
        <span onclick="" id="dealwith-button">處理完成</span>
        <span onclick="" id="cancel-button">取消</span>
      </div>
    </div>
  </body>
</html>